@model RegisterViewModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "REGISTRAR ";
=======
    ViewData["Title"] = "Register";
>>>>>>> parent of 6d29410... css
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <di class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
<<<<<<< HEAD
            <h4>Crear una nueva cuenta.</h4>
=======
            <h4>Create a new cuenta.</h4>
>>>>>>> parent of 6d29410... css
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <label asp-for="ConfirmPassword">Confirmar contraseña</label>
=======
                <label asp-for="ConfirmPassword"></label>
>>>>>>> parent of 6d29410... css
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group dropdown">
                <label asp-for="Roles"></label>
                @Html.DropDownList("Rol", new SelectList(Model.Roles, "Text", "Text"), new { @class = "form-control" })
            </div>
           

<<<<<<< HEAD
                <button type="submit" class="btn btn-success">Registrar</button>
=======
                <button type="submit" class="btn btn-default">Register</button>
>>>>>>> parent of 6d29410... css
           

        </form>
    </di>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
