@model ServicuerosSA.Models.Clasiweb

@{
    ViewData["Title"] = "Clasificacion Web";
}

<<<<<<< HEAD
<h2>Clasificacion web</h2>

<h4>Ingrese la una nueva clasificacion web</h4>
=======
<h2>Create</h2>

<h4>Clasiweb</h4>
>>>>>>> parent of 6d29410... css
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Detalle" class="control-label">Detalle</label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Regresar a la lista</a>
=======
                <input type="submit" value="Create" class="btn btn-default" />
>>>>>>> parent of 6d29410... css
            </div>
        </form>
    </div>
</div>

<div>
<<<<<<< HEAD
  
=======
    <a asp-action="Index">Back to List</a>
>>>>>>> parent of 6d29410... css
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
