@model ServicuerosSA.Models.Medido

@{
    ViewData["Title"] = "Create";
}

<h2>nuevo</h2>

<h4>Medido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigolote" class="control-label"></label>
                <input asp-for="Codigolote" class="form-control" />
                <span asp-validation-for="Codigolote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BodegaId" class="control-label"></label>
                <select asp-for="BodegaId" class ="form-control" asp-items="ViewBag.BodegaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonalId" class="control-label"></label>
                <select asp-for="PersonalId" class ="form-control" asp-items="ViewBag.PersonalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pallet" class="control-label"></label>
                <input asp-for="Pallet" class="form-control" />
                <span asp-validation-for="Pallet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CalibracionId" class="control-label"></label>
                <select asp-for="CalibracionId" class ="form-control" asp-items="ViewBag.CalibracionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
